.galleryWrap {
    background-color: #d53f41;
    margin-left: -5vw;
    margin-right: -5vw;

    .galleryCounter {
        position: absolute;
        top: 10%;
        left: 100px;
        z-index: 1;
        mix-blend-mode: difference;
        line-height: 16px;
        color: #dbd8d6;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        .divider {
            content: '';
            background-color: white;
            width: 6.25vw;
            margin: 7px 10px;
            height: 1px;
            display: inline-block;
    
        }
    }
    .gallery {
        height: 80vh;
        padding: 10vh 0;
        width: 400%;
        display: flex;
        flex-wrap: nowrap;
    }
}
